body {/*background: #00356D;*/background:#FFF; }
.wrapper {width:100%; height:auto; margin:auto;}
.Row{width:100%; clear:both;}
#Header{font-family:Arial; font-size:12px; color:#000;}
.LiveStuffLogo {width:auto; display:block; height:50px; }
.LiveStuffLogo img {max-width:90%; max-height:50px;}
.Left {float: left;}
.Right {float:right; }
.Clear {clear: both; }
.cursorpointer {cursor:pointer; }
#closepopup {margin-left:5px; }
.cogparent {position:relative;}
.cogimage {background: #00356D; /*position:absolute; top:3px; right:3px; */width:15px; height:15px; padding:2px; border-radius:4px; display:none; }
.cogimage img {max-width:100%; max-height:100%; }
.cogoptions { position:absolute; width:130px; height:auto; right:3px; top:25px; z-index:30; padding:3px; border:solid 1px #2A68A2; background:#FFF; display:none;}
.cogoptions .arrow {top:-9px; right:0; left:inherit; border-color:rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #2A68A2;border-style: solid;border-width: 0 9px 9px; font-size: 0; height: 0; line-height: 0; position: absolute; width: 0; }
#LogoutButton { cursor: pointer; background: #2A68A2; padding: 2px 5px; margin: 3px 0; text-align: left; color: #FFF; }
.Button { border: solid 1px #FFF;border-radius: 5px; line-height: 25px; height: 25px; font-weight: bold; position: relative; }
.version_container {position:relative;}
.version_container .other_versions {position:absolute; z-index:5; background: #FFF; display:none; border:solid 1px #2A68A2; left:-4px; padding:3px; width:100%; }
#showVersionDetail {margin-right:5px; line-height:19px; font-weight:bold; font-size:14px; color:#FF0000; width:140px; }